body {
  background: #444444;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
a {
  color: #ffffff;
}
.mashmc-list-item {
  transition: all .2s;
  padding: 1em;
  border-left: 0px solid #ffffff;
}
.mashmc-list-item:hover {
  border-left: 10px solid #ffffff;
}
