body {
  background: #379f7e;
  color: #ffffff;
  font-size: 22px;
}
a {
  color: #ffffff;
}
.mashmc-list-item {
  transition: all .2s;
  padding-left: 1em;
  border-left: 0px solid #ffffff;
}
.mashmc-list-item:hover {
  border-left: 10px solid #ffffff;
}
